loggingMule4/src/main/mule/loggingmule4.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="22b9aa9a-6132-4492-944b-3653fe3e0ca3" basePath="/logs" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="b910a425-138f-4724-847c-37245704d984" file="configs.properties" />
	<flow name="loggingFlow" doc:id="00609f59-56cd-4ae7-990a-54e21a6169fa" >
		<http:listener doc:name="Listener" doc:id="d36327a6-e334-4a9f-a6b3-043a6a3382d5" path="/log" config-ref="HTTP_Listener_config">
			<ee:repeatable-file-store-stream />
		</http:listener>
		<ee:transform doc:name="Fake inbound Payload" doc:id="c8ab9089-c372-4a29-abc9-5ebb5f23bf2c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	field1: 0,
	field2: "field 2",
	field3: false
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[uuid()]" doc:name="setting up the messageID" doc:id="a70298ce-0de6-44ed-a8ce-46ed67c10875" variableName="messageID"/>
		<ee:transform doc:name="Setting up additional vars" doc:id="33323747-f39a-4fa3-ade7-ee08a87cbd18" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="businessKey" ><![CDATA[%dw 2.0
output application/java
---
if ((attributes.headers.businessKey != null) and (attributes.headers.businessKey != ""))
	attributes.headers.businessKey
else
	"none"]]></ee:set-variable>
				<ee:set-variable variableName="originalPayload" ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
				<ee:set-variable variableName="correlationID" ><![CDATA[%dw 2.0
output application/java
---
if ((attributes.headers."x-root-correlation-id" != null) and (attributes.headers."x-root-correlation-id" != ""))
	attributes.headers."x-root-correlation-id"
else
	vars.messageID]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Starter LOGGER" doc:id="26b9cb78-497c-4bfe-9936-531866f39fe1" message="#[%dw 2.0 output application/json --- if ((p('logger.category.startend') as Number) == 0)	{    		&quot;Log Point&quot;: &quot;*** Start Processing ***&quot;,	    &quot;Application Flow&quot;: app.name default &quot;&quot;,	    &quot;Version Number&quot;: p('logger.app.version') default &quot;&quot;,	    &quot;Date Time&quot;: (now().year as String) ++ &quot;-&quot; ++ (now().month as String) ++ &quot;-&quot; ++ (now().day as String) ++ &quot;T&quot; ++ (now().hour as String) ++ &quot;:&quot; ++ (now().minutes as String) ++ &quot;:&quot; ++ (now().seconds as String) ++ &quot;.&quot; ++ (now().milliseconds as String) ++ &quot;Z&quot;,  &quot;correlationId&quot;: vars.correlationID,	    &quot;MessageId&quot;: vars.messageID,     &quot;Server Host&quot;: server.host,	    	&quot;Business Key&quot;: vars.businessKey	} else  if ((p('logger.category.startend') as Number) == 1)   {    		&quot;Log Point&quot;: &quot;*** Start of Processing ***&quot;,	    &quot;Application Flow&quot;: app.name default &quot;&quot;,	    &quot;Version Number&quot;: p('logger.app.version') default &quot;&quot;,	    &quot;Date Time&quot;: (now().year as String) ++ &quot;-&quot; ++ (now().month as String) ++ &quot;-&quot; ++ (now().day as String) ++ &quot;T&quot; ++ (now().hour as String) ++ &quot;:&quot; ++ (now().minutes as String) ++ &quot;:&quot; ++ (now().seconds as String) ++ &quot;.&quot; ++ (now().milliseconds as String) ++ &quot;Z&quot;,  &quot;correlationId&quot;: vars.correlationID,	    &quot;MessageId&quot;: vars.messageID,     &quot;Server Host&quot;: server.host,	    &quot;Payload&quot;: payload } else {}]" />
		<flow-ref doc:name="Calling Fake Remote Service" doc:id="7bb93c15-21f1-431b-99c2-6c3a80f51e4b" name="remoteServiceFake"/>
		<logger level="INFO" doc:name="Stop LOGGER" doc:id="2e33c9c8-8461-4d15-ac6d-12c81a4d4fef" message="#[%dw 2.0 output application/json --- if ((p('logger.category.startend') as Number) == 0)	{    		&quot;Log Point&quot;: &quot;*** Stop Processing ***&quot;,	    &quot;Application Flow&quot;: app.name default &quot;&quot;,	    &quot;Version Number&quot;: p('logger.app.version') default &quot;&quot;,	    &quot;Date Time&quot;: (now().year as String) ++ &quot;-&quot; ++ (now().month as String) ++ &quot;-&quot; ++ (now().day as String) ++ &quot;T&quot; ++ (now().hour as String) ++ &quot;:&quot; ++ (now().minutes as String) ++ &quot;:&quot; ++ (now().seconds as String) ++ &quot;.&quot; ++ (now().milliseconds as String) ++ &quot;Z&quot;,  &quot;correlationId&quot;: vars.correlationID,	    &quot;MessageId&quot;: vars.messageID,     &quot;Server Host&quot;: server.host,	    	&quot;Business Key&quot;: vars.businessKey	} else  if ((p('logger.category.startend') as Number) == 1)   {    		&quot;Log Point&quot;: &quot;*** Stop of Processing ***&quot;,	    &quot;Application Flow&quot;: app.name default &quot;&quot;,	    &quot;Version Number&quot;: p('logger.app.version') default &quot;&quot;,	    &quot;Date Time&quot;: (now().year as String) ++ &quot;-&quot; ++ (now().month as String) ++ &quot;-&quot; ++ (now().day as String) ++ &quot;T&quot; ++ (now().hour as String) ++ &quot;:&quot; ++ (now().minutes as String) ++ &quot;:&quot; ++ (now().seconds as String) ++ &quot;.&quot; ++ (now().milliseconds as String) ++ &quot;Z&quot;,  &quot;correlationId&quot;: vars.correlationID,	    &quot;MessageId&quot;: vars.messageID,     &quot;Server Host&quot;: server.host,	    &quot;Payload&quot;: payload } else {    		&quot;Log Point&quot;: &quot;*** Stop of Processing ***&quot;,	    &quot;Application Flow&quot;: app.name default &quot;&quot;,	    &quot;Version Number&quot;: p('logger.app.version') default &quot;&quot;,	    &quot;Date Time&quot;: (now().year as String) ++ &quot;-&quot; ++ (now().month as String) ++ &quot;-&quot; ++ (now().day as String) ++ &quot;T&quot; ++ (now().hour as String) ++ &quot;:&quot; ++ (now().minutes as String) ++ &quot;:&quot; ++ (now().seconds as String) ++ &quot;.&quot; ++ (now().milliseconds as String) ++ &quot;Z&quot;,  &quot;correlationId&quot;: vars.correlationID,	    &quot;MessageId&quot;: vars.messageID,     &quot;Server Host&quot;: server.host}]" />
	</flow>
	<flow name="remoteServiceFake" doc:id="7a3c0773-6da0-4a36-add1-0e0c0a9e3012" >
		<ee:transform doc:name="Some remote service Response Payload" doc:id="8410cc67-bf28-4d46-838e-3a393108e6b9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	response: "Ok - 200",
	requester: payload.company default "none"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>	
</mule>
